DATABASE_URL="postgres://user:password@host.neon.tech/esta_locura?sslmode=require"
DATABASE_URL_POOLED="postgres://user:password@host-pooler.neon.tech/esta_locura?sslmode=require"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_PARTYKIT_HOST="localhost:1999"
PARTYKIT_HOST="http://127.0.0.1:1999"
APP_ENV="development"
